.get-all-pokemons-wrapper {
  .back-to-start-screen-btn {
    position: absolute;
    padding: 10px;
    font-size: 17px;
    border: none;
    top: 30px;
    left: 30px;
    background-color: #58b028;
    color: #fff;
    font-weight: bold;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
