* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  background-color: #222;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 1.5em;
  height: 100%;
  .logout-list {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    a {
      color: #fff;
      text-decoration: none;
      margin-left: 20px;
      font-size: 20px;
      color: #fff;
    }
  }
}
