.container {
  width: 100%;
  min-height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  .back-to-start-screen-btn {
    position: absolute;
    padding: 10px;
    font-size: 17px;
    border: none;
    top: -41.5px;
    background-color: #58b028;
    color: #fff;
    font-weight: bold;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
  .fight-ground {
    background-image: url("../images/fight-ground.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 330px;
    z-index: 10;
    margin-top: -245px;
    position: relative;
    .sprites {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(50, 127, 194);
      height: 100%;
      width: 100%;
      position: relative;
    }
    .fighting-box-container {
      background-color: #fff;
      display: grid;
      grid-template-columns: auto auto;
      width: 100%;
    }
  }
}

@media screen and (min-width: 850px) {
  .container {
    .fight-ground {
      width: 80%;
      height: 330px;
      margin-top: -240px;
    }
  }
}
@media screen and (min-width: 950px) {
  .container {
    .fight-ground {
      width: 80%;
      height: 330px;
      margin-top: -240px;
    }
  }
}
