.container {
  width: 100%;
  min-height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  .back-to-start-screen-btn {
    position: absolute;
    padding: 10px;
    font-size: 17px;
    border: none;
    top: -50px;
    background-color: #58b028;
    color: #fff;
    font-weight: bold;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
  .fight-ground {
    background-image: url("../images/fight-ground.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 220px;
    z-index: 10;
    margin-top: -215px;
    position: relative;
    .your-trainer-avatar {
      position: absolute;
      top: -70px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      right: 10px;
      padding: 1px;
    }
    .your-amount-of-coins-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -70px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      right: 110px;
      padding: 1px;
      img {
        width: 30px;
      }
      p {
        color: #feeecc;
        margin-left: 10px;
      }
    }
    .sprites {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(50, 127, 194);
      height: 100%;
      width: 100%;
      position: relative;
    }
    .fighting-box-container {
      background-color: #fff;
      display: grid;
      grid-template-columns: auto auto;
      width: 100%;
    }
  }
}

@media screen and (min-width: 850px) {
  .container {
    .fight-ground {
      margin-top: -215px;
    }
  }
}
@media screen and (min-width: 950px) {
  .container {
    .fight-ground {
      margin-top: -220px;
    }
  }
}
@media screen and (min-height: 800px) {
  .container {
    .fight-ground {
      height: 400px;
    }
  }
}
