.new-fight-btn {
  padding: 30px;
  background-color: rgb(55, 199, 55);
  border: none;
  border-radius: 20px;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  &:hover {
    opacity: 0.8;
  }
}
