.get-pokemon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .shop-container {
    display: grid;
    grid-template-columns: auto;
    margin-top: 80px;
    gap: 20px;
    width: 70%;
    .shop-card {
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
      border-radius: 10px;
      height: 220px;
      .bag-items {
        text-align: center;
        color: #fff;
        list-style: none;
        font-size: 20px;
        img {
          width: 40px;
        }
        h1 {
          font-size: 19px;
        }
        p {
          font-size: 15px;
          margin: 5px 0;
        }
        .shop-btn {
          margin-top: 10px;
          background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
          border: 0;
          border-radius: 12px;
          color: #ffffff;
          cursor: pointer;
          display: inline-block;
          font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
          font-size: 15px;
          font-weight: 500;
          line-height: 2.5;
          outline: transparent;
          padding: 0 1rem;
          text-align: center;
          text-decoration: none;
          transition: box-shadow 0.2s ease-in-out;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          white-space: nowrap;
          &:not([disabled]):focus {
            box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
              0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
          }
          &:not([disabled]):hover {
            box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
              0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
          }
        }
      }
    }
  }
  .back-to-start-screen-btn {
    padding: 10px;
    font-size: 17px;
    border: none;
    background-color: #58b028;
    color: #fff;
    font-weight: bold;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

.error-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.error-modal-content {
  position: relative;
  width: 280px;
  height: 210px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  overflow: hidden;
  animation: show-modal 0.7s ease-in-out;

  &.hide {
    animation: hide-modal 0.6s ease-in-out both;
  }

  img {
    margin-top: 24px;
  }

  .title {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 14px 0 5px 0;
  }

  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    margin: 0;
    padding: 0 30px;
  }

  .button {
    position: absolute;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f65656;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: background 0.3s ease-in-out;

    &:hover {
      background: #ec3434;
    }
  }
}

@keyframes show-modal {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hide-modal {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}

@media screen and (min-width: 550px) {
  .get-pokemon-container {
    .shop-container {
      grid-template-columns: auto auto;
    }
  }
}
@media screen and (min-width: 750px) {
  .get-pokemon-container {
    .shop-container {
      grid-template-columns: auto auto auto;
    }
  }
}
